{% extends 'layout/base.html' %}

{% block 'title' %}Añadir{% endblock %}

{% block 'styles' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/forms.css' %}?v=3">
{% endblock %}

{% block 'content' %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="alert-success"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="form"> 
    <form action="{% url 'servicio_create' %}" method="POST">
        {% csrf_token %}
        
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
            {{ field }}
            {% if field.errors %}
                <span class="error">{{ field.errors }}</span>
            {% endif %}
        </div>
        {% endfor %}
        
        <div class="aux-btns-forms">
            <a href="{% url 'index' %}">Regresar</a>
        </div>
        
        <div class="btn-wrapper">
            <input type="submit" value="Enviar" class="btn-send">
        </div>
    </form>        
</div> 

{% endblock %}