<nav>
    <div class="cont-logo">
      <a href="{% url  'index' %}"><img src="../../../static/images/imagen-principal.jpeg" class="logo" alt="logo"></a> 
    </div>
      <ul>
        <li><a href="{% url  'index' %}">Inicio</a></li> 
        <li><a href="{% url  'servicios' %}">Visualizar</a></li>
        <li><a href="{% url  'servicio_create' %}">Añadir</a></li>
        <li><a href="{% url  'servicio_dashboard' %}">Gráficas</a></li>
        <li><a href="{% url 'registrar_ingresos' %}">Ingresos diarios</a></li>
      </ul>
    </nav>
   