{% extends 'layout/base.html' %}
{% block 'title' %}Inicio{% endblock %}

{% block 'cabecera' %}
<div class="texto-principal">
    <h1><span class="titulo-azul">Bienvenido a Casa</span><span class="titulo-resltado">Peter Frank</span></h1>
    <h2>Gestor de ingresos</h2>
</div>   
{% endblock %}

{% block 'content' %}
        <div class="tarjeta-titulo">
            <h1>Que quieres hacer</h1>
        </div>
        <div class="tarjetas">
            <div class="tarjeta-servicios">
                <a href="{% url  'servicios' %}">Visualizar</a>
            </div>  
            <div class="tarjeta-añadir">
                <a href="{% url  'servicio_create' %}">Añadir</a>
            </div>  
            <div class="tarjeta-dashboard">
                <a href="{% url  'servicio_dashboard' %}">Gráficas</a>
            </div>  
        </div>
       
{% endblock %}
